/* Universal CSS*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
}

body {
  width: 100vw;
}

main {
  padding-bottom: 80px;
}

/* Icon changes */

i[class^="flaticon-"] {
  color: white;
}

/* Font Changes */

h1 {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #4b4b4b;
  text-decoration: underline;
}

h2 {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #4b4b4b;
}

p {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #4b4b4b;
}

/* Changes to LI & UL */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* Navigation bar */

.hamburger {
  font-size: 18px;
  background-color: #4b4b4b;
  color: white;
  width: 100%;
  height: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.nav-bar {
  display: none;
}

.nav-bar.show {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  border-bottom: 1px solid #4b4b4b;
}

.nav-bar.show a {
  color: white;
}

.nav-button {
  padding: 10px 0 10px 0;
}

.nav-button:hover {
  background-color: white;
}

.nav-button:hover a {
  color: #4b4b4b;
}

.nav-container {
  background-color: #4b4b4b;
}

/* Social Media Menu */

.social-media-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #4b4b4b;
  height: 30px;
  border-bottom: 1px solid white;
}

/* Banner css */

.techy-title {
  background-image: url("/images/backgroundtechy.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title-text {
  margin: 5px 0 5px 0;
}

.subtitle-text {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* Main Content */

/* Site Title */

.site-title {
  margin: 2rem;
  text-align: center;
}

.post-container {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  gap: 15px;
  justify-content: space-around;
}

/* Carousel */

.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1rem 0 1rem;
  justify-content: space-between;
}

.button-container {
  margin: 0 5px 0 5px;
}

.button-container .prev,
.button-container .next {
  cursor: pointer;
  font-size: 35px;
  font-weight: 800;
  color: #4b4b4b;
}

/* Blog "Card" */

.blog-post-card {
  min-height: 250px;
  min-width: 160px;
  border: 1px solid #4b4b4b;
  border-radius: 5px 5px 0px 0px;
}

/* Footer */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #4b4b4b;
  text-align: center;
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  margin-top: 5px;
}

/* FOR BIGGER DEVICES */

@media only screen and (min-width: 1025px) {
  /* Header */

  .main-header {
    display: flex;
    flex-direction: column-reverse;
  }

  /*Navigation*/

  .hamburger {
    display: none;
  }

  .nav-bar {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 60px;
    border-bottom: 1px solid white;
  }

  .nav-button:hover {
    background-color: inherit;
  }

  .nav-button:hover a {
    color: white;
  }
  .social-media-menu {
    height: 50px;
    border-top: 1px solid white;
  }

  /* Icons */

  i[class^="flaticon-"] {
    font-size: 25px;
  }

  /* Social Media Menu */

  /* Title & Subtitle Text*/

  .techy-title {
    min-height: 600px;
    margin: 0;
  }

  .title-text {
    font-size: 46px;
  }

  .subtitle-text {
    font-size: 16px;
    width: 150px;
  }
}
