/* Universal CSS*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: niveau-grotesk, sans-serif;
  font-style: normal;
  font-weight: 200;
}

body {
  width: 100%;
}

main {
  padding-bottom: 80px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

/* Icon changes */

i[class^="flaticon-"] {
  color: white;
}

/* Font Changes */

h1 {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: italic;
  color: #4b4b4b;
  text-decoration: underline;
}

h2 {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #4b4b4b;
}

p {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #4b4b4b;
}

/* Navigation bar */

.hamburger {
  font-size: 18px;
  background-color: #4b4b4b;
  color: white;
  width: 100%;
  height: 35px;
  border-top: 5px solid white;
  cursor: pointer;
}

.close-burger {
  display: none;
  font-size: 18px;
  background-color: #4b4b4b;
  color: white;
  width: 100%;
  height: 45px;
  border-top: 5px solid white;
  cursor: pointer;
}

.close-burger:hover {
  color: #4b4b4b;
  background-color: white;
  border-top: 5px solid #4b4b4b;
}

.nav-bar {
  display: none;
}

.nav-bar.show {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  border-bottom: 5px solid #4b4b4b;
}

.nav-bar.show a {
  color: white;
}

.nav-button {
  padding: 10px 0 10px 0;
}

.nav-button:hover {
  background-color: white;
}

.nav-button:hover a {
  color: #4b4b4b;
}

.nav-container {
  background-color: #4b4b4b;
}

/* Social Media Menu */

.social-media-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  background-color: #4b4b4b;
  height: 35px;
  border-bottom: 5px solid white;
}

/* Banner css */

.techy-title {
  background-image: url("/images/backgroundtechy.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title-text {
  margin: 0 0 5px 0;
}

.subtitle-text {
  font-family: niveau-grotesk, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 12px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* Main Content */

/* Site Title */

.site-title {
  margin: 2rem;
  text-align: center;
}

.techy-text {
  font-weight: 400;
  font-style: italic;
  text-decoration: underline;
}

/* Carousel */

.carousel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1rem 0 1rem;
  justify-content: center;
}

.button-container {
  margin: 0 1rem 0 1rem;
}

.button-container .prev,
.button-container .next {
  cursor: pointer;
  font-size: 35px;
  font-weight: 800;
  color: #4b4b4b;
}

/* Blog "Card" */

.blog-post-card {
  min-height: 250px;
  min-width: 160px;
  border: 1px solid #4b4b4b;
  border-radius: 5px 5px 0px 0px;
}

/* Contact */

#contact-information-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.contact-information-map-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  width: 80vw;
}

.contact-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 450px;
}

.contact-category {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 1rem;
}

.category-title {
  font-weight: 600;
}

#map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  border-radius: 5px;
  width: 450px;
}

.g-map {
  min-height: 400px;
  border: 1px solid #4b4b4b;
  border-radius: 5px;
}

#contact-form {
  display: block;
  background-color: #4b4b4b;
  padding: 1rem;
  border-radius: 5px;
  width: 300px;
}
.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-error {
  display: none;
  color: #d62f26;
}

.formLabel {
  color: white;
  margin-bottom: 5px;
}

.form {
  height: 2rem;
}

#details {
  height: 200px;
}

#form-button-item {
  align-items: center;
  margin-top: 2rem;
}

#form-submit {
  background-color: #d62f26;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  padding: 6px;
  width: 100px;
}
/* Footer */

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #4b4b4b;
  text-align: center;
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin-top: 5px;
  background-color: white;
}

/* FOR BIGGER DEVICES */

@media only screen and (min-width: 1025px) {
  /* Header */

  .main-header {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #4b4b4b;
  }

  /*Navigation*/

  .hamburger {
    display: none;
  }

  .nav-bar {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 60px;
    border-bottom: 5px solid white;
  }

  .nav-button:hover {
    background-color: inherit;
  }

  .nav-button:hover a {
    color: white;
  }

  .nav-bar #active {
    padding: 10px 0 19px 0;
    text-align: center;
    margin-top: 10px;
    background-color: white;
    border-radius: 5px 5px 0 0;
    width: 100px;
  }

  .nav-bar #active a {
    color: #4b4b4b;
  }

  .social-media-menu {
    position: absolute;
    top: 0;
    right: 1rem;
    padding-top: 5px;
    height: 60px;
    background-color: transparent;
  }

  /* Icons */

  i[class^="flaticon-"] {
    font-size: 18px;
  }

  /* Social Media Menu */

  /* Title & Subtitle Text*/

  .techy-title {
    min-height: 600px;
    margin: 0;
  }

  .title-text {
    font-size: 46px;
  }

  .subtitle-text {
    font-size: 16px;
    width: 150px;
  }

  /* Main Content*/

  /* Carousel */

  .button-container .prev,
  .button-container .next {
    font-size: 40px;
  }
}
